fastapi==0.115.2
uvicorn==0.30.6

# Google OAuth2
google-auth==2.29.0
google-auth-oauthlib==1.2.0

# JWT 생성/검증
python-jose[cryptography]==3.3.0

# DB 연결(MySQL/MariaDB)
SQLAlchemy==2.0.23
pymysql==1.1.0

# Pydantic
pydantic==2.5.0
email-validator==2.1.0   # EmailStr 때문에 필수

# 비밀번호 해싱
passlib[bcrypt]==1.7.4
